body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:#FFFFFF;
}

.web{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;

    margin-right: 76px;

    display: flex;
    margin-bottom: 16px;

}

.spa{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color:#2e2f42;

   
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.sol{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;

    max-width: 496px;
}

.cla{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;

    padding-top: 24px;
    padding-bottom: 24px;
   
}

.cla:hover{
    color: #404bbf;
}

.cla:focus{
    color: #404bbf;
}



.add{
    font-style: normal;

}

.com{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;

}


.com:hover{
    color: #404bbf;
}

.com:focus{
    color: #404bbf;
}

.effective{
    background-color:#2e2f42;

    padding-top: 188px;
    padding-bottom: 188px;
}

.but{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #4D5AE5;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;  
    cursor: pointer; 

    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    display: block;
    
}

.but:hover{
    background-color: #404BBF;
}

.but:focus{
    background-color: #404BBF;
}


.h2{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;

    visibility: hidden;

}

h3{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.strategy{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;

    margin-bottom: 8px;
}

.goal{
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.images{
    background-color: #F4F4FD;
}

.people{
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
    background-color: #FFFFFF;

    text-align: center;
    margin-bottom: 8px;
    
}

.post{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;

    text-align: center;
}

.our-team{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;

    margin-bottom: 72px;
}

.img{
    background-color: #FFFFFF;
}

.our-portfolio{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
}

.head{
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;

    margin-bottom: 8px;
}

.paragraf{
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer{
    background-color:#2e2f42;

    padding-top: 100px;
    padding-bottom: 100px;
}

.span{
    color: #f4f4fd;
}

.paragraf-parag{
    line-height: 1.5;
    color:#F4F4FD;
    letter-spacing: 0.02em;
}

.first-images{
    background-color: #FFFFFF;

    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.container{
    width: 1158px ;
    
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}



.img{
    display: block;
}

.header{
    border-bottom: 1px solid #e7e9fc
}

.sit{
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}

.address{
    display: flex;
    gap: 40px;

}

.benefits{
    padding-top: 120px;
    padding-bottom: 120px;

}

.benefits-class{
    display: flex;
    gap: 24px;

}

.benefits-class-strategy{

    width: calc((100% - 72px) / 4);

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0 0);
    overflow: hidden;
  }



.images{
    padding-top: 120px;
    padding-bottom: 120px;
}

.people-images-first{
    display: flex;
    gap: 24px;
}




.people-post{
    padding: 32px 0;
}

.portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
}

.our-portfolio{
    margin-bottom: 72px;
}

.portfolio-forse-section{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-section-first{
    width: calc((100% - 48px) / 3);

}

.force-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;


}